*{
    font-family: Roboto;
}

.company-name {
    font-size: 30px;
    font-weight: 500;
    margin-right: 0;
}

.bg{
    background-color: black;
}
.recom{
    margin-top: 60px;
    margin-bottom: 70px;
}
.category{
    font-size: 0.8rem;
}
.search-bar {
    width: 100% !important;
}
.zero-padding {
    padding: 10px 0px;
    width: 100%
}
.product-name{
    font-size: 1rem;
}
.cont-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colors{
    font-size: 0.8rem;
    color: rgb(173, 173, 173);
}
.cont-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filtered{
    background:linear-gradient(90deg, rgba(234, 234, 236, 0.3) 0%, rgba(231, 231, 231, 0.3) 38%, rgba(214, 224, 219, 0.3) 100%);
}
.product{
    background: rgb(240, 239, 239);
    padding-top: 60px;
    padding-bottom:80px;
}
.showcase{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 80px;
}
.showcase-1{
    padding-top: 40px;
    padding-bottom: 20px;
}

.showcase-2, .showcase-3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-selection{
    display: flex;
    justify-content: center;
    height: 521px;
    background:linear-gradient(90deg, rgba(17, 17, 17, 0.164) 0%, rgba(20, 20, 20, 0.3) 38%, rgba(17, 17, 17, 0.3) 100%), url(../images/lipstick-1.jpg);
    background-repeat: no-repeat;
}
.left-selection a{
    align-self: center;
    border-radius: 25px;
    padding: 12px 35px 12px 35px;
    font-size: 0.8rem;
}
.card-body{
    padding:1rem;
    padding-left:0.56rem;
}
.heart-icon{
    width: 20px;
    height: 20px;
}

.owl-prev{
    position: absolute;
    left: -25px;
    top: 40%;
    border-radius: 5px;
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -27px;
    top: 40%;
    border-radius: 5px;
    
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    
    background-color: black;
    color: white;
    padding: 8px!important;
}
.owl-carousel button.owl-dot{
    display: none;
}
.banner{
    height: 400px;
    background-image: url(../images/footer-banner.jpg);
    background-size: cover;
}
.card-img-top{
    object-fit: cover;
    
}
.spacing .card{
    background-color: white;
}
.card{
    border:none;
    border-radius: 0;
    background-color: rgb(245, 245, 245);
}
.bg .nav-item{
font-size: 0.85rem;
}
.first-hamburger-icon{
    margin: 0 auto;
}
.cont{
    display: flex;
    justify-content: center;

}
.benefits{
    font-weight: 100;
}
.spacing{
    padding-left: 0;
}

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }   */

@media only screen and (max-width:776px){
    .search-bar{
        width:80vw!important;
        
    }

}
@media only screen and (max-width:991px){
    .search{
        margin-right: 1rem;
    }

    .owl-prev{
left: 0px;
    }
    button.owl-next{
display: none;
    }
}

@media only screen and (max-width:1199px){
    .cart-title, .offers-title, .account-title{
        font-size: 0.7rem;
    }
}


